## TLS ##

#tls_certificate_path: "CONFDIR/SERVERNAME.tls.crt"
#tls_private_key_path: "CONFDIR/SERVERNAME.tls.key"
#federation_verify_certificates: false
#federation_client_minimum_tls_version: 1.2
#federation_certificate_verification_whitelist:
#  - lon.example.com
#  - "*.domain.com"
#  - "*.onion"
#federation_custom_ca_list:
#  - myCA1.pem
#  - myCA2.pem
#  - myCA3.pem
