
## Federation ##

#federation_domain_whitelist:
#  - lon.example.com
#  - nyc.example.com
#  - syd.example.com

#federation_metrics_domains:
#  - matrix.org
#  - example.com

#allow_profile_lookup_over_federation: false
#allow_device_name_lookup_over_federation: false
