## Caching ##

#event_cache_size: 10K

caches:
  #global_factor: 1.0
  per_cache_factors:
    #get_users_who_share_room_with_user: 2.0
  #expire_caches: false
  #cache_entry_ttl: 30m
  #sync_response_cache_duration: 2m

