## Captcha ##

recaptcha_public_key: "{{ synapse_recaptcha_public_key}}"
recaptcha_private_key: "{{ synapse_recaptcha_private_key}}"
enable_registration_captcha: true
#recaptcha_siteverify_api: "https://my.recaptcha.site"
