## Registration ##

enable_registration: true
#session_lifetime: 24h
#refreshable_access_token_lifetime: 5m
#refresh_token_lifetime: 24h
#nonrefreshable_access_token_lifetime: 24h
#registrations_require_3pid:
#  - email
#  - msisdn

#disable_msisdn_registration: true
#allowed_local_3pids:
#  - medium: email
#    pattern: '^[^@]+@matrix\.org$'
#  - medium: email
#    pattern: '^[^@]+@vector\.im$'
#  - medium: msisdn
#    pattern: '\+44'

#enable_3pid_lookup: true
#registration_requires_token: true

registration_shared_secret: {{ synapse_registration_shared_secret }}
#bcrypt_rounds: 12
#allow_guest_access: false
#default_identity_server: https://matrix.org
account_threepid_delegates:
    #email: https://example.com     # Delegate email sending to example.com
    #msisdn: http://localhost:8090  # Delegate SMS sending to this local process
#enable_set_displayname: false
#enable_set_avatar_url: false
#enable_3pid_changes: false
#auto_join_rooms:
#  - "#example:example.com"

#autocreate_auto_join_rooms: false
#autocreate_auto_join_rooms_federated: false
#autocreate_auto_join_room_preset: private_chat
#auto_join_mxid_localpart: system
#auto_join_rooms_for_guests: false
#inhibit_user_in_use_error: true

