## Opentracing ##

opentracing:

    #enabled: true
    #homeserver_whitelist:
    #  - ".*"

    #force_tracing_for_users:
    #  - "@user1:server_name"
    #  - "@user2:server_name"

    #jaeger_config:
    #  sampler:
    #    type: const
    #    param: 1
    #  logging:
    #    false
