[Service]
ExecStartPost=cp {{ synapse_initial_certificate_path }} {{ synapse_certificate_path }}
ExecStartPost=cp {{ synapse_initial_key_path }} {{ synapse_key_path }}
ExecStartPost=chmod 0640 {{ synapse_certificate_path }}
ExecStartPost=chmod 0640 {{ synapse_key_path }}
ExecStartPost=chown {{ service_user }}:{{ service_user }} {{ synapse_certificate_path }}
ExecStartPost=chown {{ service_user }}:{{ service_user }} {{ synapse_key_path }}
ExecStartPost={{ synapse_refresh_command }}
ExecStartPost=/usr/bin/env sh -c "! systemctl --quiet is-enabled %i.service || systemctl try-reload-or-restart %i"
