[Unit]
Description={{ synapse_name | upper }}
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
User={{ synapse_service_user }}
Group={{ synapse_service_user }}
ExecStart={{ synapse_start_command }}
ExecStop={{ synapse_stop_command }}
RemainAfterExit=true

[Install]
WantedBy=multi-user.target