#
# Note: After making changes to this file you need to run the `rebuild` or `update`
# command for them to be applied.

url: https://{{ synapse_external_domain }}
http_port: 80
https_port: 443
ssl_certificate_path: {{ synapse_certificate_path }}
ssl_key_path: {{ synapse_key_path }}}

yaml_list:
{% for internal_yaml_item in synapse_list_data %}
  - {{ internal_yaml_item }}
{% endfor %}
