#!/bin/bash

cp {{ synapse_inital_cert_location }}/{{ external_domain }}.crt {{ synapse_certificate_path }}
cp {{ synapse_inital_cert_location }}/{{ external_domain }}.key {{ synapse_key_path }}
chmod 0640 {{ synapse_certificate_path }}
chmod 0640 {{ synapse_key_path }}
chown {{ synapse_service_user }}:{{ synapse_service_user }} {{ synapse_certificate_path }}
chown {{ synapse_service_user }}:{{ synapse_service_user }} {{ synapse_key_path }}